# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log
Airflow/logs/
Airflow/dags/__pycache__/
Airflow/temp data/

# Ignore environment files
.env
*.env
Airflow/.env

# Ignore DBT and Airflow config files
DBT/dbt_airflow/.gitignore
DBT/dbt_airflow/.astro/
DBT/dbt_airflow/Dockerfile
DBT/dbt_airflow/dags/.airflowignore

# Ignore Airflow configs
Airflow/config/
Airflow/docker-compose.yaml

# Ignore temporary or large files
*.csv
*.json
*.txt
*.md
venv/